{
  {{#typescript}}"*.{ts,json,md}": [
    "prettier --write"
  ],
  "*.ts": [
    "eslint --fix",
    "git add"
  ]{{/typescript}}
  {{^typescript}}"*.{js,json,md}": [
    "prettier --write"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ]{{/typescript}}
}